#header {
  .mobile {
    display: none;
  }
  .nav {
    li {
      list-style: none;
      a {
      }
    }
  }
}
#content {
  padding: 50px 0;
  .imgbox {
    margin-bottom: 20px;
  }
}

@media (min-width: 1250px) {
  .container {
    max-width: 1230px;
  }
}
@media (max-width: 992px) {
  #header {
    .mobile {
      display: block;
    }
    .nav {
      display: none;
      &.opened {
        display: block;
      }
    }
  }
}
