#header .mobile {
  display: none;
}
#header .nav li {
  list-style: none;
}
#content {
  padding: 50px 0;
}
#content .imgbox {
  margin-bottom: 20px;
}

@media (min-width: 1250px) {
  .container {
    max-width: 1230px;
  }
}
@media (max-width: 992px) {
  #header .mobile {
    display: block;
  }
  #header .nav {
    display: none;
  }
  #header .nav.opened {
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */